<div class="col-sm-4">
<address>
  <strong>{{./name.first}} {{#if ./name.mid}}{{./name.mid}}.{{/if}} {{./name/last}}</strong><br>
  {{./address.line}}<br>
  {{./address.city}}, {{./address.state}} {{./address.zip}}<br>
  <abbr title="Phone">P:</abbr>{{./phone}}<br>
  <abbr title="Birthdate">B:</abbr>{{./dob}}
</address>
</div>