<article class="col-sm-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>{{./name.first}} {{#if ./name.mid}}{{./name.mid}}.{{/if}} {{./name/last}}</strong>
    </div>
    <div class="panel-body">
      <address>
        {{./address.line}}<br>
        {{./address.city}}, {{./address.state}} {{./address.zip}}<br>
        <abbr title="Phone">P:</abbr>{{./phone}}<br>
        <abbr title="Birthdate">B:</abbr>{{./dob}}
      </address>
    </div>
</article>